.example-card {
  max-width: 1000px;
}

.mat-form-field{
  margin-left: 8px;
  border-radius: 35px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  border-radius: 35px;
}
.example-button-right{
  float: right;
}


